<template>
  <div class="about ma-7 mt-10">
    <v-layout text-center wrap>
      <v-flex mb-4>
        <h2 class="display-1 font-weight-bold mb-3">About Us</h2>
        <p class="subheading font-weight-regular">
          <a href="https://gitlab.com/controllercubiomes" target="_blank">
            <img
              src="../assets/logo_gitlab.png"
              height="64"
              alt="Gitlab Logo"
            />
          </a>
          &nbsp;&nbsp;
          <a href="https://discord.gg/sevadus" target="_blank">
            <img
              src="../assets/logo_discord.png"
              height="64"
              alt="Discord Logo"
            />
          </a>
        </p>
        <br />
        <div class="subheading font-weight-regular">
          <h1>The "God-Tier Seed" Criteria</h1>
          <h2>Within 1,500 Blocks of (0,0)</h2>
          All Major Biomes<br />
          Bamboo Jungle<br />
          Ice Spikes<br />
          Mooshroom<br />
          Flower Forest<br />
          Roofed Forest<br />
          Warm Ocean<br />
          Frozen Ocean<br /><br />
          <h2>Within 2,048 Blocks of (0,0)</h2>
          At least 1 Ocean Monument<br />
          2 Witch Huts within 200 blocks of each other<br /><br />
        </div>
        <div style="max-width: 1280px; margin: auto">
          <div style="position: relative; padding-top: 56.25%">
            <iframe
              src="https://player.twitch.tv/?autoplay=false&video=v617381694"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
export default {
  name: "About"
};
</script>

<style scoped>
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
</style>
