<template>
  <div class="home">
    <!-- <SpinnerOverlay v-show="isFetchingSeeds && !items.length" /> -->

    <CardsFilters style="padding: 30px 9% 0" />

    <v-col v-show="!isFetchingSeeds && !items.length">
      <v-row justify="center" align="center" style="height: 500px">
        <h1 class="display-1">No Results Found</h1>
        <img height="64px" src="../assets/NotLikeThis.png" alt="NotLikeThis" class="ml-3" />
      </v-row>
    </v-col>

    <v-col v-show="!isFetchingSeeds && fetchError">
      <v-row justify="center" align="center" style="height: 500px">
        <h1 class="display-1">Database Error</h1>
        <img height="64px" src="../assets/Wowee.png" alt="NotLikeThis" class="ml-3" />
      </v-row>
    </v-col>

    <div v-show="items.length">
      <div class="d-flex flex-wrap justify-center">
        <SeedCard
          style="margin: 15px 20px 15px"
          v-for="item in items"
          :key="item.seed"
          :seedData="item.data"
        />
      </div>
    </div>
  </div>
</template>

<script>
// import SpinnerOverlay from "@/components/SpinnerOverlay";
import CardsFilters from "@/components/CardsFilters.vue";
import SeedCard from "@/components/SeedCard.vue";
import api from "@/mixins/api";
import { mapState, mapGetters } from "vuex";

export default {
  name: "Home",
  mixins: [api],
  components: {
    // SpinnerOverlay,
    CardsFilters,
    SeedCard
  },
  data() {
    return {
      madeFirstRequest: false
    };
  },
  computed: {
    ...mapState("seeds", ["items", "isFetchingSeeds", "fetchError"]),
    ...mapGetters("filters", ["filterOptions"])
  },
  watch: {
    // On every filterOptions change reset the pagination and get new results from the api
    filterOptions() {
      this.$store.dispatch("seeds/resetPagination");
    }
  },
  created() {
    window.addEventListener("scroll", this.handleScroll);

    // reset beacause of the advanced page
    this.$store.commit("seeds/resetPagination");
    this.$store.commit("seeds/setItems", []);
    this.$store.commit("seeds/setNoMoreResults", false);
    this.$store.commit("filters/setFilters", []);
    this.$store.commit("filters/setSortBy", null);
    this.$store.commit("filters/setIsSortAscend", false);

    // Get first batch of seeds on page load if there are no query parameters
    // if there are query parameters getSeeds will be triggered from the CardFilters component
    if (!Object.keys(this.$route.query).length) {
      this.$store.dispatch("seeds/getSeeds");
    }
  },
  destroyed() {
    window.removeEventListener("scroll", this.handleScroll);
  },
  methods: {
    handleScroll() {
      if (
        window.innerHeight + window.scrollY >=
          document.body.offsetHeight - 500 &&
        !this.isFetchingSeeds
      ) {
        this.$store.dispatch("seeds/getSeeds");
      }
    }
  }
};
</script>
