<template>
  <div>
    <iframe src="https://seedhunt-stats.niller.xyz/" />
  </div>
</template>

<script>
export default {
  name: "Statistics"
};
</script>

<style scoped>
iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
</style>
