<template>
  <v-container class="py-5 px-9">
    <v-row>
      <h1>{{ seedData.seed }}</h1>

      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            style="margin: 6px 0 6px 6px"
            v-on="on"
            @click="copySeedToClipboard"
          >
            <v-icon>mdi-content-copy</v-icon>
          </v-btn>
        </template>
        <span>Copy Seed</span>
      </v-tooltip>

      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            style="margin: 6px 0 6px 6px"
            v-on="on"
            @click="copyUrlToClipboard"
          >
            <v-icon>mdi-link-variant</v-icon>
          </v-btn>
        </template>
        <span>Copy URL</span>
      </v-tooltip>

      <v-spacer />

      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            v-show="$route.name === 'seed'"
            style="margin: 6px 6px 6px 0;"
            v-on="on"
            @click="toggleLegend"
          >
            <v-icon>mdi-map-legend</v-icon>
          </v-btn>
        </template>
        <span>{{ legend ? "Hide Legend" : "Show Legend" }}</span>
      </v-tooltip>

      <v-tooltip top>
        <template v-slot:activator="{ on }">
          <v-btn
            icon
            v-show="$route.name !== 'seed'"
            style="margin: 6px 6px 6px 0;"
            v-on="on"
            :to="'/seed/' + seedData.seed"
            target="_blank"
          >
            <v-icon>mdi-open-in-new</v-icon>
          </v-btn>
        </template>
        <span>Open in new tab</span>
      </v-tooltip>
    </v-row>

    <div style="margin-bottom: 10px">
      <v-row>
        <v-divider />
      </v-row>
    </div>

    <v-container style="width:100%; max-width:512px">
      <v-row justify="center">
        <img
          :src="imgSrc"
          @mousemove.stop.self="mouseOverMap"
          @mouseleave="mouseLeaveMap"
          alt="Minecraft Biome Map"
        />
      </v-row>
      <v-row class="subtitle-1 mt-1">
        {{ mapCoordinates }}
        <v-spacer />
        {{ biomeName }}
      </v-row>
    </v-container>

    <template v-if="!hideInfo">
      <div style="margin-top: 35px">
        <v-row>
          <h2>Info</h2>
        </v-row>
      </div>

      <div style="margin-bottom: 10px">
        <v-row>
          <v-divider />
        </v-row>
      </div>

      <div class="d-flex flex-column flex-sm-row">
        <div class="flex-sm-grow-1">
          <div class="d-flex my-3">
            <div style="width: 120px">Spawn Biome:</div>
            <div class="font-weight-bold">
              {{ biomeLabels[seedData.spawn_biome] }}
            </div>
          </div>
          <div class="d-flex my-3">
            <div style="width: 120px">Closest Village:</div>
            <div class="font-weight-bold">{{ seedData.village_distance }}</div>
          </div>
        </div>

        <div class="flex-sm-grow-1">
          <div class="d-flex my-3">
            <div style="width: 120px"># Witch Huts:</div>
            <div class="font-weight-bold">{{ seedData.huts }}</div>
          </div>
          <div class="d-flex my-3">
            <div style="width: 120px"># Monuments:</div>
            <div class="text--primary font-weight-bold">
              {{ seedData.monuments }}
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top: 35px">
        <v-row>
          <h2>Biomes</h2>
        </v-row>
      </div>

      <div style="margin-bottom: 10px">
        <v-row>
          <v-divider />
        </v-row>
      </div>

      <div class="d-flex justify-end">
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
          style="right: 0; max-width: 50%"
        ></v-text-field>
      </div>

      <v-data-table
        :headers="headers"
        :items="items"
        item-key="prop"
        group-by="parent"
        :items-per-page="300"
        :hide-default-footer="true"
        :search="search"
      >
        <template v-slot:group.header="{ group, headers, toggle, isOpen }">
          <td v-if="!group" :colspan="headers.length" style="height: 0"></td>
          <template v-else>
            <td
              style="cursor: pointer"
              @click="toggle"
              :ref="group"
              :data-open="isOpen"
            >
              <v-icon v-if="isOpen">mdi-chevron-up</v-icon>
              <v-icon v-else>mdi-chevron-down</v-icon>
              {{ groups[group].name }}
            </td>
            <td style="cursor: pointer" @click="toggle">
              {{ groups[group].value }}
            </td>
          </template>
        </template>
      </v-data-table>
    </template>

    <v-snackbar
      v-model="snackbar"
      top
      right
      :timeout="1500"
      color="green darken-2"
    >
      {{ snackbarMessage }}
    </v-snackbar>
  </v-container>
</template>

<script>
import labels from "@/mixins/labels";
import { biomes } from "@/biomes";
import { imgGen } from "@/main";

export default {
  name: "SeedDetails",
  mixins: [labels],
  props: ["seedData", "hideInfo"],
  data() {
    return {
      items: [],
      groups: {},
      search: "",
      imgGen,
      imgSrc: "",
      snackbar: false,
      snackbarMessage: "",
      headers: [
        {
          text: "Name",
          sortable: true,
          value: "name"
        },
        { text: "Area (%)", value: "value" }
      ],
      biomeName: "",
      coordinates: []
    };
  },
  watch: {
    seedData: {
      handler(seedData) {
        this.seedData = seedData;
        for (const key in this.seedData) {
          const value = this.seedData[key];

          if (typeof value !== "object") {
            const name = this.biomeLabels[key];
            if (!name) {
              continue;
            }
            this.items.push({
              key,
              name,
              value: this.formatPercentageValue(value)
            });
            continue;
          }

          const name = this.biomeGroupLabels[key];
          if (!name) {
            continue;
          }
          this.groups[key] = {
            name,
            value: this.formatPercentageValue(value.total)
          };

          for (const key2 in value) {
            const name2 = this.biomeLabels[key2];
            if (!name2) {
              continue;
            }

            this.items.push({
              parent: key,
              key: key + key2,
              name: name2,
              value: this.formatPercentageValue(value[key2])
            });
          }
        }

        this.$nextTick(() => {
          this.toggleAll();
        });
      },
      immediate: true
    }
  },
  async created() {
    this.imgSrc = await this.imgGen.addToQueue(this.seedData.seed);
    this.imgCtx = this.imgGen.canvas.getContext("2d");
  },
  computed: {
    mapCoordinates() {
      if (this.coordinates.length < 2) return "";
      return `(${this.coordinates[0]},${this.coordinates[1]})`;
    },
    legend() {
      return this.$store.state.legend.enabled;
    }
  },
  methods: {
    formatPercentageValue(value) {
      return (Math.round(value * 100) / 100).toFixed(2) + "%";
    },
    toggleAll() {
      Object.keys(this.$refs).forEach(k => {
        this.$refs[k].click();
      });
    },
    copySeedToClipboard() {
      navigator.clipboard.writeText(this.seedData.seed).then(() => {
        this.showSnackbar("Copied Seed to Clipboard");
      });
    },
    copyUrlToClipboard() {
      navigator.clipboard
        .writeText(
          window.location.protocol +
            "//" +
            window.location.host +
            "/seed/" +
            this.seedData.seed
        )
        .then(() => {
          this.showSnackbar("Copied URL to Clipboard");
        });
    },
    showSnackbar(message) {
      this.snackbarMessage = message;
      this.snackbar = true;
    },
    mouseOverMap(e) {
      // Get the width and height of the map
      const w = this.imgCtx.canvas.width;
      const h = this.imgCtx.canvas.height;
      // Calculate map coords from center of the map
      const x = (e.offsetX - w / 2) * (4096 / w);
      const y = (e.offsetY - h / 2) * (4096 / h);
      this.coordinates = [x, y];
      // Get the pixel under the cursor
      const p = this.imgCtx.getImageData(e.offsetX, e.offsetY, 1, 1).data;
      // Convert the pixel rgb to hex
      const hex = "#" + ("000000" + this.rgbToHex(p[0], p[1], p[2])).slice(-6);
      // Find the matching hex in the biome colors array
      const biome = biomes.find(x => x.hex === hex);
      this.biomeName = biome ? biome.displayName : "Unknown";
    },
    mouseLeaveMap() {
      this.biomeName = "";
      this.coordinates = [];
    },
    rgbToHex(r, g, b) {
      if (r > 255 || g > 255 || b > 255) throw "Invalid color component";
      return ((r << 16) | (g << 8) | b).toString(16);
    },
    toggleLegend() {
      this.$store.dispatch("toggleLegend");
    }
  }
};
</script>
